In [23]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

thislist1 = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist1)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'apple', 'cherry']

In [24]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

list1 = ["abc", 34, True, 40, "male"]
print(list1)

mylist = ["apple", "banana", "cherry"]
print(type(mylist))

thislist1 = list(("apple", "banana", "cherry"))
print(thislist)

3
['abc', 34, True, 40, 'male']
<class 'list'>
['apple', 'banana', 'cherry']

In [25]:
thislist = ["apple", "banana", "cherry"]

print(thislist[1])
print(thislist[-1])

thislist1 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist1[2:5])

banana
cherry
['cherry', 'orange', 'kiwi']

In [26]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

print(thislist[:4])

print(thislist[2:])

print(thislist[-4:-1])

if "apple" in thislist:
    print("YEs, 'apple' is in the fruits list")

['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']
['orange', 'kiwi', 'melon']
YEs, 'apple' is in the fruits list

In [27]:
thislist = ["apple", "cherry", "banana"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'banana']

In [28]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant  :D", "watermelon   XD"]

print(thislist)


thislist1 = ["apple", "banana", "cherry"]
thislist1[1:2] = ["blackcurrant", "watermelon  ._."]
print(thislist1)


thislist2 = ["apple", "banana", "orange"]
thislist2[1:3] = ["watermelon  <_>"]

print(thislist2)


thislist3 = ["apple", "banana", "cherry"]
thislist3.insert(2, "watermelon :D")

print(thislist3)

['apple', 'blackcurrant  :D', 'watermelon   XD', 'orange', 'kiwi', 'mango']
['apple', 'blackcurrant', 'watermelon  ._.', 'cherry']
['apple', 'watermelon  <_>']
['apple', 'banana', 'watermelon :D', 'cherry']

In [29]:
New_List = ["apple", "cherry", "orange"]
New_List.append("banana")

print(New_List)



New_List1 = ["apple", "banana", "cherry"]
New_List1.insert(1, "orange")

print(New_List1)



SimpleFruits = ["apple", "banana", "cherry"]
TropicalFruits = ["mango", "pineapple", "papaya"]

SimpleFruits.extend(TropicalFruits)
print(SimpleFruits)



thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'cherry', 'orange', 'banana']
['apple', 'orange', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [30]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")

print(thislist)



thislist1 = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist1.remove("banana")

print(thislist1)



thislist2 = ["apple", "banana", "cherry"]
thislist2.pop(1)

print(thislist2)

['apple', 'cherry']
['apple', 'cherry', 'banana', 'kiwi']
['apple', 'cherry']

In [31]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()

print(thislist)



thislist1 = ["apple", "banana", "cherry"]
del thislist1[0]

print(thislist1)




thislist2 = ["apple", "banana", "cherry"]
thislist2.clear()

print(thislist2)

['apple', 'banana']
['banana', 'cherry']
[]

In [32]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

print("Second For:")

for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry
Second For:
apple
banana
cherry

In [33]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
    print(thislist[i])
    i = i + 1

apple
banana
cherry

In [34]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [35]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

# also we write 

newlist1 = [x for x in fruits if "a" in x]
print(newlist1)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango']

In [36]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]
print(newlist)


newlist1 = [x for x in fruits]
print(newlist1)

['banana', 'cherry', 'kiwi', 'mango']
['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [37]:
newlist = [x for x in range(10)]
print(newlist)


newlist1 = [x for x in range(10) if x < 5]
print(newlist1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4]

In [38]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x.upper() for x in fruits]
print(newlist)


newlist1 = ['hello' for x in fruits]
print(newlist1)


newlist2 = [x if x != "banana" else "orange" for x in fruits]
print(newlist2)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']
['hello', 'hello', 'hello', 'hello', 'hello']
['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [39]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()

print(thislist)


thislist.sort(reverse=True)
print(thislist)



thislist1 = [100, 50, 65, 82, 23]
thislist1.sort()

print(thislist1)


thislist1.sort(reverse=True)
print(thislist1)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
['pineapple', 'orange', 'mango', 'kiwi', 'banana']
[23, 50, 65, 82, 100]
[100, 82, 65, 50, 23]

In [40]:
def myfunc(n):
    return abs(n-50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [41]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)


thislist.sort(key = str.lower)
print(thislist)


thislist1 = ["banana", "Orange", "Kiwi", "cherry"]
thislist1.reverse()
print(thislist1)

['Kiwi', 'Orange', 'banana', 'cherry']
['banana', 'cherry', 'Kiwi', 'Orange']
['cherry', 'Kiwi', 'Orange', 'banana']

In [42]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)


mylist1 = list(thislist)
print(mylist1)


mylist2 = thislist[:]
print(mylist2)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [43]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)


for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

In [44]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]