In [1]:
thistuple = ("apple", "orange", "cherry")
print(thistuple)
print(len(thistuple))

('apple', 'orange', 'cherry')
3

In [2]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple1 = ("apple")
print(type(thistuple1))

<class 'tuple'>
<class 'str'>

In [3]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [4]:
tihstuple = ("apple", "banana", "cherry")
print(thistuple[1])
print(thistuple[-1])


thistuple1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple1[2:5])
print(thistuple1[:4])
print(thistuple1[2:])

banana
cherry
('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [5]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])


thistuple1 = ("apple", "banana", "cherry")
if "apple" in thistuple1:
    print("Yes, 'apple' is in the fruits tuple")

('orange', 'kiwi', 'melon')
Yes, 'apple' is in the fruits tuple

In [6]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [7]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [8]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [9]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

In [10]:
"""thistuple = ("apple", "banana", "cherry")
del thistuple # del deleted this variable
print(thistuple) #this will raise an error because the tuple no longer exists
"""

'thistuple = ("apple", "banana", "cherry")\ndel thistuple # del deleted this variable\nprint(thistuple) #this will raise an error because the tuple no longer exists\n'

In [11]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

In [12]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [13]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [14]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [15]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

In [16]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i += 1

apple
banana
cherry

In [17]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)


fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('a', 'b', 'c', 1, 2, 3)
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')