In [25]:
thisset = {"apple", "banana", "cherry"}
print(thisset)


thisset1 = {"apple", "banana", "cherry", "apple"}
print(thisset1)


thisset2 = {"apple", "banana", "cherry", True, 1, 2}
print(thisset2)

{'apple', 'cherry', 'banana'}
{'apple', 'cherry', 'banana'}
{True, 2, 'cherry', 'banana', 'apple'}

In [26]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))


myset = {"apple", "banana", "cherry"}
print(type(myset))


thisset1 = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset1)

3
<class 'set'>
{'apple', 'cherry', 'banana'}

In [27]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)


thisset1 = {"apple", "banana", "cherry"}
print("banana" in thisset)

print("banana" not in thisset)

apple
cherry
banana
True
False

In [28]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'cherry', 'orange', 'banana'}

In [29]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'pineapple', 'papaya', 'cherry', 'banana', 'apple', 'mango'}

In [30]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'banana', 'apple', 'kiwi', 'orange'}

In [31]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [32]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

In [33]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

apple
{'cherry', 'banana'}

In [34]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [35]:
"""
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError                                 Traceback (most recent call last)
Cell In[8885], line 3
      1 thisset = {"apple", "banana", "cherry"}
      2 del thisset
----> 3 print(thisset)

NameError: name 'thisset' is not defined
"""

'\nthisset = {"apple", "banana", "cherry"}\ndel thisset\nprint(thisset)\n\nNameError                                 Traceback (most recent call last)\nCell In[8885], line 3\n      1 thisset = {"apple", "banana", "cherry"}\n      2 del thisset\n----> 3 print(thisset)\n\nNameError: name \'thisset\' is not defined\n'

In [36]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [37]:
# UNION
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [38]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)
# | also union

{1, 2, 3, 'a', 'c', 'b'}

In [39]:
# Join Multiple Sets

set1 - {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)
# OR
myset1 = set1|set2|set3|set4
print(myset1)

{1, 2, 3, 'cherry', 'apple', 'a', 'Elena', 'b', 'John', 'bananas', 'c'}
{1, 2, 3, 'cherry', 'apple', 'a', 'Elena', 'b', 'John', 'bananas', 'c'}

In [40]:
# Join a Set and a Tuple

x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

{1, 2, 3, 'a', 'b', 'c'}

In [41]:
# Update
x = {"a", "b", "c"}
y = (1, 2, 3)

set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

In [42]:
#Intersection
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)
# OR
set3_1 = set1 & set2
print(set3_1)

{'apple'}
{'apple'}

In [43]:
# Intersection_update()

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)
print(set1)

{'apple'}

In [44]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

{False, 1, 'apple'}

In [45]:
#Difference

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)
print(set3)
#OR
set3_1 = set1 - set2
print(set3_1)

{'banana', 'cherry'}
{'banana', 'cherry'}

In [46]:
# Difference_update()

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)
print(set1)

{'cherry', 'banana'}

In [47]:
# Symmetric_difference()

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)
print(set3)
#OR
set3_1 = set1 ^ set2
print(set3_1)

{'banana', 'cherry', 'google', 'microsoft'}
{'banana', 'cherry', 'google', 'microsoft'}

In [48]:
# Symmetric_difference_update()

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)
print(set1)

{'cherry', 'banana', 'google', 'microsoft'}